#ensaladas .card-reveal {
	background-color:rgba(0,77,64,0.8);
	color:white;
	}
#principales .card-reveal{
	background-color:rgba(26,35,126,0.8);
	color:white;
}
#postres .card-reveal{
	background-color:rgba(136,14,79,0.8);
	color:white;
}
.fixed-action-btn.horizontal ul li {margin:8px 8px 0 0}
h2, li a.btn-floating{text-shadow: 2px 2px 3px rgba(2, 2, 2, 1);}


.submenu li{
			float:none;
			background-color:#512da8;
			}
.submenu {
	position:absolute;
	z-index:100;
	opacity:0;
	transition: all .3s ease-in .15s;
	visibility:hidden;
}
.desplegable:hover .submenu {
		opacity:1;
		display:block;
		visibility:visible;
		}
/*Estilos para pushpin*/
nav {z-index:100}
.margensup {margin-top:10px}
.margentop {margin-top:10px}









